.Jadoo_Hero_Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Jadoo_Hero_Text h1 {
    font-size: clamp(var(--h2-font-size),10vw ,var(--h1-font-size));
    font-family: 'Volkhov' ,sans-serif;
}

.Jadoo_Hero_Text h2 {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}
.Jadoo_Hero_Text p{
    font-size: var(--paragraph-font-size);
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.hero_text_btn{
    height: 3.75rem;
    width: 10rem;
    background-color: var(--primary-color);
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 5px;
    border: none;
    color: var(--screen-color);
    font-size: var(--btn-font-size);
    font-family: 'Poppins', sans-serif;
}
.hero_text_play_btn{
    height: 3.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    width: 3.25rem;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
}



@media screen and (max-width:600px) {
    .Jadoo_Hero_Image img {
        margin-right: 5rem;
    }
}