 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@100;200;300;400;500;800;900&family=Volkhov:wght@400;700&display=swap');
 @import url('https://fonts.cdnfonts.com/css/google-sans');
 @import url('https://fonts.cdnfonts.com/css/open-sans');
 *{
  margin: 0;
  padding: 0;
 }
 body{
   height: 100%;
 }
 :root{
    --link-font-size: 1.05rem;
    --h1-font-size:5.25rem;
    --h2-font-size:3.125rem;
    --h3-font-size:1.25rem;
    --paragraph-font-size:1rem;
    --btn-font-size:1.125rem;
    --screen-color: #fff;
    --text-color:#212832;
    --CTA-button-font-size:2.0625rem;
    --CTA-background-color:#dfd7f984;
    --CTA-text-color: #5E6282;
    --primary-color:#F1A501;
    --secondary-color:#DF6951;
    --tertiary-color:#006380;
 }
 a,h1,h2,p,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
   text-decoration: none;
 }
 button{
  cursor: pointer;
 }